.slider.index-slider
  %ul.slides
    %li
      = image_tag 'slider01.jpg', class: 'image-resize'
      .caption.center-align
        %h3.slider-caption
          Share
          %br
          your pictures of animals.
        %h5.slider-slogan
          癒される動物の写真を
          %br
          シェアしよう
    %li
      = image_tag 'slider02.jpg', class: 'image-resize'
      .caption.left-align
        %h3.slider-caption
          Share
          %br
          your pictures of animals.
        %h5.slider-slogan
          癒される動物の写真を
          %br
          シェアしよう
    %li
      = image_tag 'slider03.jpg', class: 'image-resize'
      .caption.right-align
        %h3.slider-caption
          Share
          %br
          your pictures of animals.
        %h5.slider-slogan
          癒される動物の写真を
          %br
          シェアしよう
.container
  .row
    #article_box
      = render @articles
