- if !ArticleFavorite.exists?(user_id: current_user.id, article_id:article.id )
  = link_to article_add_path(article), class: 'btn btn-floating grey lighten-5 waves-effect waves-light', 'data-tooltip':'お気に入りに追加', method: :post, remote: true do
    %i.favorite.material-icons favorite_border
- else
  = link_to article_remove_path(article), class: 'btn btn-floating grey lighten-5 waves-effect waves-light', 'data-tooltip':'お気に入りから外す', method: :delete, remote: true do
    %i.favorite.material-icons favorite
