#article_box {
  margin: 380px auto 0;
}

.article-wrapper {
  width: 100%;
  float: left;
}

.article_title {
  margin: 20px auto;
  padding: 0.5em;
  font-size: 1.5em;
  color: #494949;
  border-left: solid 5px #f55c6e;
}

.text-over-flow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.over-title {
  background: rgba(0,0,0,0.2);
  width: 100%;
  min-height: 84px;
}

i.mini {
  font-size: 1.2rem;
  vertical-align: 40%;
}

i.link {
  vertical-align: -25%;
}

.tip-date {
  vertical-align: 35%;
  font-size: .8rem;
}

.text-detail {
  font-family: -apple-system, BlinkMacSystemFont,
             "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  padding-top: 10px;
  color: #424242;
  letter-spacing: 1.5px;
  line-height: 1.75;
  min-height: 36px;
}

.card-wrap {
  margin: 2.8rem 0 2rem;
}

.btn-floating i.favorite {
  color: #f3979b;
}

.article-wrapper .card .card-image img {
  height: 250px;
  object-fit: cover;
}

.article-wrapper .chip {
  max-width: 48%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width:480px) and ( max-width:600px) {
  .article-wrapper {
    width: 100%;
    margin-top: 5px;
  }
}

@media screen and (min-width:600px) and ( max-width:1200px) {
  .article-wrapper {
    width: 49%;
    margin-top: 5px;
    .card .card-image img {
      height: 200px;
    }
  }
  .article-wrapper:nth-child(2n-1) {
    margin-right: 1%;
  }
}

@media screen and (min-width:1200px) {
  .article-wrapper {
    width: 32.6666666666%;
    margin-right: 1%;
    margin-top: 5px;
    .card .card-image img {
      height: 200px;
    }
  }
  .article-wrapper:nth-child(3n) {
    margin-right: 0;
  }
}

.chip-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
