.index-slider {
  position: absolute;
  top:0;
}

.slider-caption {
  text-shadow:0px 0px 2px #000000;
  font-size: 2.92rem;
  line-height: 120%;
  margin: 2.9466666667rem 0 1.168rem 0;
  overflow: hidden;
}

.slider-slogan {
  text-shadow:0px 0px 2px #000000;
  font-size: 1.15rem;
}

.nav-index {
  position: relative;
  z-index: 100;
}

.nav-index nav {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border-top: none;
}

.nav-index .site-name {
  color: #fff;
  text-shadow:0px 0px 2px #000;
}

.nav-index .site-name:hover {
  color: #fff;
  text-shadow:0px 0px 5px #000;
}

.nav-index nav ul li a.tooltipped {
  color:  #fff;
  text-shadow:0px 0px 2px #000;
}

.nav-index nav ul li a.tooltipped:hover {
  text-shadow:0px 0px 5px #000;
}

.index-menu {
  min-width: 300px;
}

ul.index-menu li a {
  color: #757575;
}
